/*Colour palette: #784902, #855E1E, #A67526, #861109, #5F0711, #C88C2D, #4C060E*/


html{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #4C060E;
  vertical-align: bottom;
}

body{
  font-size: 30px;
}

.navbar-brand{
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

ul{
  list-style-type: none;
  background-color: #C88C2D;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  border: solid 5px #861109;
  border-bottom: 0;
}

li{
  float: left;
}

li a{
  display: block;
  color: #861109;
  text-align: center;
  text-decoration: none;
  padding: 0px 7.5px;
}

li a:hover{
  color: #C88C2D;
  background-color: #4C060E;
  text-decoration: underline;
  border: solid 5px #861109;
}

h1{
  font-size: 100px;
  background-color: #C88C2D;
  color: #861109;
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border:solid 5px #861109;
  border-bottom: 0;
}

.date{
  font-size: 20px;
}

.motto{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

h2{
  padding: 0;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border:solid 5px #861109;
  border-bottom: 0;
}

h2 img{
  vertical-align: bottom;
}

h3{
  text-align: center;
  padding: 0;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border:solid 5px #861109;
  border-bottom: 0;
}

h3 img{
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

p{
  font-size: 25px;
  background-color: #C88C2D;
  color: #861109;
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border:solid 5px #861109;
}

iframe{
  padding: 0;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.EndImage{
  border-bottom: solid 5px #861109;
}

.HomeButton{
  text-decoration: none;
  color: #A67526;
  background-color: #861109;
  margin: 5%;
  border: 5px solid #861109;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 37.5%;
  transition: 0.6s;
}

.HomeButton:hover{
  color: #861109;
  background-color: #A67526;
  border-color: #A67526;
}

.VisitButton{
  text-decoration: none;
  color: #A67526;
  background-color: #861109;
  margin: 5%;
  border: 5px solid #861109;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 35%;
  transition: 0.6s;
}

.VisitButton:hover{
  color: #861109;
  background-color: #A67526;
  border-color: #A67526;
}

.HistoryButton{
  text-decoration: none;
  color: #A67526;
  background-color: #861109;
  margin: 5%;
  border: 5px solid #861109;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 32.5%;
  transition: 0.6s;
}

.HistoryButton:hover{
  color: #861109;
  background-color: #A67526;
  border-color: #A67526;
}

.Links{
  font-weight: 600;
  color: #4C060E;
}